
@{
    ViewData["Title"] = "Bill";
}
<section class="content-header">
    <h1>
        账单
    </h1>
</section>
<section class="content" id="app">
    <div class="box">
        <div class="box-body">
            <div class="col-md-8">
                <a class="btn btn-primary btn-sm" v-on:click="showEditing">新增</a>
                <span style="margin-left:10px">合计：支出~{{Stat.outlay}} 收入~{{Stat.income}} 净支出~{{Stat.total}}</span>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type='text' class="form-control" id="datepicker" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>日期</th>
                        <th>金额</th>
                        <th>记录时间</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(b,index) in Bills" :key="b.Id">
                        <td>{{index}}</td>
                        <td>{{billDate(b.PayDate)}}</td>
                        <td>{{b.Amount}}</td>
                        <td>{{b.LogTime}}</td>
                        <td>{{b.Remark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div v-show="ShowEditing" class="box">
        <div class="box-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="PayDate">日期</label>
                    <input type="text" id="PayDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtAmount">金额</label>
                    <input type="text" id="txtAmount" v-model="Editing.Amount" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtAmount">类型</label>
                    <select v-model="Editing.FlowType" class="form-control">
                        <option v-for="(f,k) in FlowTypes" :value="k" >{{f}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtRemark">备注</label>
                    <textarea type="text" rows="3" id="txtRemark" v-model="Editing.Remark" class="form-control">
                </textarea>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a id="btnSave" v-on:click="newBill" class="btn btn-primary">保存</a>
        </div>
    </div>
</section>

@section footer{
    <script src="~/js/app.js"></script>
    <script src="~/lib/Vue/vue.js"></script>
    <script src="~/js/extend.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(function () {
            var today = new Date().Format("yyyy-MM-dd");
            $('#datepicker').val(today).datepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                clearBtn: true,
                autoclose: true,
                todayBtn: false,
                todayHighlight: true
            }).on("changeDate", function (e) {
                app.Date = $("#datepicker").val();
                app.getBills();
                app.getStatistic();
            });

            $('#PayDate').val(today).datepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                clearBtn: true,
                autoclose: true,
                todayBtn: false,
                todayHighlight: true
            }).on("changeDate", function (e) {
                app.Editing.PayDate = $("#PayDate").val();
            });
        })

        var app = new Vue({
            el: '#app',
            data: {
                Bills: [],
                Stat: {},
                Date: '',
                Editing: {},
                ShowEditing: false,
                PageIndex: 1,
                PageSize: 10,
                FlowTypes2: {
                    'Eating': 0, 'Beverage': 1, 'Recharge': 2, 'Game': 3, 'Shopping': 4, 'Rent': 5, 'Other': 6,
                    'Salary': 101, 'Finance': 102
                },
                FlowTypes: {
                    '0': 'Eating', '1': 'Beverage','2': 'Recharge','3': 'Game','4':'Shopping','5': 'Rent','6': 'Other',
                    '101':'Salary','102': 'Finance'
                }
            },
            methods: {
                getBills: function () {
                    var $this = this;
                    var param = {
                        pageIndex: this.PageIndex,
                        pageSize: this.PageSize,
                    };
                    if (this.Date)
                        param.date = this.Date;

                    ApiClient.Get('/api/bill', param, function (e) {
                        if (e.status == 1) {
                            $this.Bills = e.data;
                        } else
                            alert(e.msg);
                    })
                },
                getStatistic: function () {
                    var $this = this;
                    ApiClient.Get('/api/bill/Statistic', {},
                        function (e) {
                            if (e.status == 1) {
                                $this.Stat = e.data;
                            } else
                                alert(e.msg);
                        })
                },
                billDate: function (date) {
                    return date.substring(0, 10);
                },
                showEditing: function () {
                    this.ShowEditing = true;
                    app.Editing.PayDate = $("#PayDate").val();
                },
                newBill: function () {
                    var $this = this;
                    ApiClient.Post('/api/bill', this.Editing, function (e) {
                        if (e.status == 1) {
                            $this.getBills();
                        } else
                            alert(e.msg);
                    })
                }
            },
            created: function () {
                this.Date = new Date().Format("yyyy-MM-dd");
                this.getBills();
                this.getStatistic();
            }
        })
    </script>
}