
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Index
    </h1>
</section>
<section class="content"></section>

<script>
    function api() {
        ApiClient.Request('/Account/Test', {}, function (e) {
            console.log(JSON.stringify(e));
        })
    }
</script>